{{ define "content" }}


<div class="panel panel-default">
  <div class="panel-heading">
    <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Topic }} </span>
  </div>
  <div class="panel-body">
    <div class="fa pull-left">
      Started by <a style="color: blue; font-size: 11pt;"> {{ .User.Name }} </a> | {{ .CreatedAtDate }} | {{ .NumReplies }} comments.
    </div>
    <form role="form" action="/thread/dislike" method="post">
      <input type="hidden" name="uuid" value="{{ .Uuid }}">
      <input type="hidden" name="url" value="/thread/read?id={{.Uuid }}">
      <div class="fa-lg pull-right"> 
        <button class="fa fa-arrow-circle-down" type="submit" style="background:none; border-width:0px; color:rgb(125, 0, 0);">
        </button>{{ .NumDislikesThread }} </div>
    </form>
    <form role="form" action="/thread/like" method="POST">
      <input type="hidden" name="uuid" value="{{ .Uuid }}">
      <input type="hidden" name="url" value="/thread/read?id={{.Uuid }}">
      <div class="fa-lg pull-right">
        <button class="fa fa-arrow-circle-up" type="submit" style="background:none; border-width:0px; color:rgb(55, 125, 0);">
        </button>{{ .NumLikesThread }} </div>
    </form>
    <br>
    <div class="fa pull-left">
      Categories: {{ .Categories }}
    </div>
  </div>
</div>


{{ range .Posts }}

<div class="panel panel-body">
  <span class="lead"> <i class="fa fa-comment"></i> {{ .Body }}</span>
  <div class="pull-right">
    <br>
    <form class="pull-right" role="form" action="/post/dislike" method="post">
      <input type="hidden" name="uuid" value="{{ .Uuid }}">
      <input type="hidden" name="url" value="/thread/read?id={{ .ThreadUUIDbyPostUUID }}">
      <div class="fa-lg pull-right"> 
        <button class="fa fa-arrow-circle-down" type="submit" style="background:none; border-width:0px; color:rgb(125, 0, 0);">
        </button>{{ .NumDislikesPost}} </div>
    </form>
    <form class="pull-right" role="form" action="/post/like" method="POST">
      <input type="hidden" name="uuid" value="{{ .Uuid }}">
      <input type="hidden" name="url" value="/thread/read?id={{ .ThreadUUIDbyPostUUID }}">
      <div class="fa-lg pull-right">
        <button class="fa fa-arrow-circle-up" type="submit" style="background:none; border-width:0px; color:rgb(55, 125, 0);">
        </button>{{ .NumLikesPost }} </div>
    </form><br>
    <div class="fa pull-right">
      on {{ .CreatedAtDate }} by <a style="color: blue; font-size: 11pt;"> {{ .User.Name }} </a>
    </div>
  </div>    
</div>

{{ end }}

  <div class="panel panel-info">
    <div class="panel-body">
     <form role="form" action="/thread/post" method="post">
       <div class="form-group">
         <textarea class="form-control" name="body" id="body" placeholder="Write your reply here" rows="3" required autofocus></textarea>
         <input type="hidden" name="uuid" value="{{ .Uuid }}">
         <br/>
         <button class="btn btn-primary pull-right" type="submit">Reply</button>
       </div>
     </form>
     </div>
  </div>



{{ end }}